html
{
	height: 100%
}
body
{
	font-family: Ubuntu;
	color: lightgray;
	background: linear-gradient(black, red);
	background: -moz-linear-gradient(black, red);
	background: -o-linear-gradient(black, red);
	background: -webkit-linear-gradient(black, red);
}
h1
{
	text-align: center;
}
#lightsaber
{
	width: 400px;
	height: 300px;
	margin-left: 450px;
}